body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #ccc;
}

aside {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

header, footer {
  padding: 20px;
  background: #f5f5f5;
}
